.card-review-content{
    display: flex;
    flex-direction: column;
}
.card-review-col{
    display: flex;
    flex-direction: row;
    align-items: center;  
    margin: 0px 15px 10px 34px;
}
.card-review-name{
    margin-left: 15px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.015em;
    color: #FFFFFF;

}
.card-review-text{    
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.015em;
    color: #9E9E9E;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 15px 38px;
}
.review-content{
    
}
