.home-container {
    padding: 42px 40px 135px 0;
    display: flex;
    justify-content: space-around;
}

.home-info {


}
.home-info-title{
    font-size: 55px;
    line-height: 75px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
}
.home-info-subtitle{
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
}